html {  
    background-color: yellow;
    /*border, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: teal;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;}
    /*border, margin, padding testing*/  
#body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    line-height: 2em;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}

#header {
    display: flex;
    background-color: white;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: purple;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}
#top-navbar-upper-container {
    display: flex;
    background-color: white;
    width: 100%;
/*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: pink;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
/*border, margin, padding testing*/    
}

#google-logo-container {
width: 20%;
/*border, margin, padding testing*/
border-style: solid;
border-width: 5px;
border-color: blue;
margin-top: 5px;
margin-bottom: 5px;
margin-right: 5px;
margin-left: 5px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
/*border, margin, padding testing*/  
}
#google-logo-img {
    display: block;
    width: 100px;
    height: auto;
    background-color: white;
/*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
/*border, margin, padding testing*/  
}
#search-bar {
    display: flex;
    align-items: center;
    width: 40%;
/*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: -50px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
/*border, margin, padding testing*/  
}

#search-bar-input {
    width: 100%;
    /*border, margin, padding testing*/
    border-style: dotted;
    border-width: 5px;
    border-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: -50px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
/*border, margin, padding testing*/  
}
#top-navbar-upper-right-container{
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-self: right;
    justify-content: flex-end;
/*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
/*border, margin, padding testing*/  
}

#body-whole {
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: purple;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/ 
}
#body-top {
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: pink;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/ 
}
#body-navbar-container {
    display:flex;
    background-color: white;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}
#body-navbar-left-side {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-self: left;
    justify-content: flex-start;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}
#body-navbar-right-side {
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-self: right;
    justify-content: flex-end;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}
#search-time {  
    background-color: teal;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}
#body-results {
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: pink;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/ 
}
.body-results li {
    border-color: red;
}
#footer {
    display: block;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: purple;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}
#bottom-navbar-upper-container{
    display: inline-block;
    font-size: 13px;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: pink;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}
#bottom-navbar-lower-container{
    display: inline-block;
    font-size: 13px;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: pink;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}   



.navbar ul {
    list-style-type: none;
    float:left; 
}
.navbar li {
    display: inline-block;
    background-color: lightblue; 
/*border, margin, padding testing*/
border-style: solid;
border-width: 5px;
border-color: green;
margin-top: 5px;
margin-bottom: 5px;
margin-right: 5px;
margin-left: 5px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
/*border, margin, padding testing*/  
}
.body-results li, a, h3, p {
    display: inline-block;
    background-color: lightgreen;
    /*border, margin, padding testing*/
    border-style: solid;
    border-width: 5px;
    border-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    /*border, margin, padding testing*/  
}

.body a, h3, p {
        /*border, margin, padding testing*/
        border-style: solid;
        border-width: 5px;
        border-color: red;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        /*border, margin, padding testing*/
}
.body a{
    color: #3C4043;  
}
.body h3 {
    font-weight:bold;
    color:blue;
}
.body p {
    color: #000;  
}