#header {
  top:0;
  display: block;
  position: fixed;
  width: 100%;
  height: 20px;

}  
#top-navbar-right-container{
display: flex;
justify-content: space-evenly;
position: fixed;
margin: 3px;
top: 0;
right: 0;
width: 25%;
text-align: right;
color: black;
font-weight: bold;
font-size: 13px;
}

#body{
display: flex;
flex-direction: column;
background-color: white;
justify-content: space-evenly;
align-items: center;
}
#logo-container{
background-color: blue;
}
#google-logo-img{
display: block;
margin-top: 50px;
justify-content: space-around;
align-items: center;
max-width: 400px;
}
#search-bar {
	display: block;
  padding-top; 10px;}
#google-button{
}
#search-language {
text-align: center;
}


#footer{
display: block;
position: fixed;
background-color: #F2F2F2;
bottom: 0;
height: 30px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
width: 100%;
border-color: #E4E4E4;
border-width: 1px;
margin:1px;
margin-color: #E4E4E4;
color: #6F6F6F;
font-size:13px;
}
#bottom-navbar-upper{
margin-bottom: 5px;
text-align: left;
padding-left: 12px;
font-size: 15px;
}
#bottom-navbar-lower-left-container {
display: flex;
position: fixed;
justify-content: space-evenly;
left: 0;
width: 50%;
text-align: left;
}							
#bottom-navbar-lower-right-container {
display: flex;
position: fixed;
justify-content: space-evenly;
margin-bottom: 5px;
right: 0;
width: 29%;
text-align: right;
}							